html {
	margin: 0px;
	padding: 0;
	background: url(../images/img01.jpg) repeat-x left top;
	font-family:Helvetica,Verdana,Arial,"Trebuchet MS";
	font-size: 14px;
	color:#000000;
	line-height: 1.5em;
}

body{
	background:url(../images/twc_logo_blue.png) no-repeat left top;
}

h1 { 
	font-size: 2.0em;
	margin: 0;
	font-weight: normal;
	color: #1E3F7F;
}

h2 { 
	font-size: 1.5em; 
	margin: 0;
	font-weight: normal;
	color: #1E3F7F;
}

h3 {
	font-size: large;
	margin: 0;
	font-weight: normal;
	color: #1E3F7F;
	}

p, ul, ol {
	margin-top: 0;
	line-height: 240%;
	text-align: justify;
}

ul, ol { }

blockquote { }

a { color: #13619e; }

a:hover { text-decoration: none; }

a img {
	border: none;
}

img.left {
	float: left;
	margin: 7px 30px 0 0;
}

img.right {
	float: right;
	margin: 7px 0 0 30px;
}

hr { }

.list1 {
}

.list1 li {
	float: left;
	line-height: normal;
}

.list1 li img {
	margin: 0 30px 30px 0;
}

.list1 li.alt img {
	margin-right: 0;
}

#wrapper {
	
}

/* Header */

#header {
	width: 95%;
	height: 5%;
	margin: 0 auto;
}

/* Menu */

#menu {
	float: left;
	width: 100%;
	height: 50px;
	margin-top: 3em;
	background:url(../images/menu_background.png) repeat-x left top;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: block;
	float: left;
}

#menu a {
	display: block;
	float: left;
	height: 35px;
	border-left-width:thick;
	border-left-color:#0099FF;
	border-right-color:#0099FF;
	padding: 15px 30px 0px 30px;
	text-decoration: none;
	text-align: center;
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #FFFFFF;
}

#menu a:hover { 
	text-decoration:underline;
	color:#FFFFCC;

}

#menu .current_page_item a {
	color:#b8e5f6;
	font-weight:bold;
}

#menu .first {
}

/* Page */

#page {
	width: 80%;
	margin: 40px auto 20px auto;
	padding: 0px;
	background: #FFFFFF;
	border:#666666 double;/*#4eb9e2 */
}

/** LOGO */

#logo {
	width: 90%;
	height: 120px;
	margin: 0 auto;
	padding: 10px 0px 20px 0px;
	
}

#logo h1, #logo h2 {
	margin: 0px;
	line-height: normal;
	font-family: Georgia, "Times New Roman", Times, serif;
	color:#13619e;
}

#logo h2 {
	color: #80379b;
}

#logo h1 a {
	color: #13619e;
}

#logo h1 {
	padding-top: 80px;
	font-size: 52px;
	font-weight: bold;
	font-style: italic;
	color: #333333;
	text-align:right;
}

#logo a {
	text-decoration: none;
	color: #FFFFFF;
}

#banner {
	padding-bottom: 20px;
}

/* Content */

#content {
	float: right;
	width: 90%;
	margin: 0px 0px 0px 0px;
	padding: 20px 10px 0px 10px;
}

/* Post */

.post {
	margin-bottom: 45px;
	padding-bottom: 30px;
	/*border-bottom: 1px solid #E0E0E0;*/
	color:#000000;
	height:600px;
}

.post .title {
	height: 36px;
	/*border-bottom: #E0E0E0 solid 1px;*/
	font-size: 1.5em;
	color:#003399;
}

.post .subtitle {
	font-size: 1.2em;
	color:#003399;
}

.post .title a {
	text-decoration: none;
	text-transform: capitalize;
	font-size: 1.5em;
	color:#003399;/* #80379b;*/

}

.post .date {
	display: inline-block;
	background: #2D5298;
	margin: 0px;
	padding: 0px 10px;
	color: #FFFFFF;
}

.post .meta {
	margin-left: 2px;
	padding: 4px 30px 2px 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 14px;
	color: #66665E;
}

.post .meta span {
	margin: 0px;
}

.post .meta a {
	padding: 6px 10px 5px 10px;
	text-decoration: none;
	color:#6633CC;
}

.post .entry {
	padding: 10px 0px 20px 0px;
	height:600px;
}

.label{
	vertical-align:top;
}

textarea {
	vertical-align:top;
}

.post .links {
	height: 18px;
	margin: 0px 0px 4px 0px; 
	padding: 6px 10px 5px 10px;
	background: #1E3F7F ;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-weight: bold;
	
}

.post .comments {
	display: block;
	width: 10%;
	height: 10%;
	margin: 0px; 
	padding: 3px 0px 0px 40px;
	background: #90BF35;
	border: 1px solid #5F817E;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
}

.error{
	color:#CC3300;
	}
/* Sidebar */

#sidebar {
	float: left;
	width: 30%;
	padding: 30px 0px 0px 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#sidebar li {
	margin-bottom: 10px;
	padding: 0 0 10px 0px;
}

#sidebar li ul {
	margin: 0px 0px;

}

#sidebar li li {
	margin: 0px 0px 0px 10px;
	padding: 10px 0px 0px 0px;
	
}

#sidebar li li a {
	font-weight: normal;
	text-decoration:underline;
	}

#sidebar li li a:hover {
	color: #666666;
}

#sidebar p {
	margin: 0;
	padding: 0px 14px;
}

#sidebar li h2 {
	height: 30px;
	margin: 0 0 10px 0px;
	padding: 6px 0 2px 0px;
	font-size: 1.5em;
	font-weight: normal;
	color: #80379b;
	border-bottom: #E0E0E0 solid 1px;	
}


#sidebar p {
	line-height: 200%;
}

#sidebar a {
	text-align: left;
	text-decoration: none;
	color: #13619e;
}


/* Footer */

#footer {
	width: 100%;
	height: 5%;
	margin: 0 auto;
	padding: 0;
}

#footer-bgcontent {
	height: 100%;
}

#footer p {
	margin: 0;
	padding: 28px 0px 0px 0px;
	text-align: center;
	line-height: normal;
	font-size: 14px;
}

#footer a {
}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}
#calendar a {
	font-weight:bold;
	color:#0000CC; /*: #4486C7;*/	
}

#calendar #next {
	text-align: right;
}

tr.topdays {
	background-color:#5abfe4; font-family: Verdana, Geneva, Arial, helvetica, sans-serif; font-size: 11px; color : #000000;
	font-weight:bold;
 
}

.toprightnumber {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif; font-size: 11px; font-weight: bold;
}
.eventinbox {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif; font-size: 12px;	
}
.currentdate {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif; font-size: 17px; font-weight: bold;	
}

td.beforedayboxes {
	background-color: #ffffff; color: #0000CC;
}
td.dayboxes {
	background-color: #ffffff; color: #0000CC;
}
td.afterdayboxes {
	background-color: #ffffff; color: #0000CC;
}
td.highlighteddayboxes {
	background-color: #EFEFEF; color: #0000CC;
}
.event {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif; font-size: 12px; font-weight: bold;
}
.eventdetail {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif; font-size: 11px;
}
.eventwhen {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif; font-size: 15px; font-weight: bold;
}
.addevent {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif; font-size: 12px; font-weight: bold;
}
.addeventextrainfo {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif; font-size: 10px;
}
th { text-align:left; }

/* Menu default styling */
.nav {list-style-type:none; margin:0; padding:0; float: right;}

